@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/DiscordFont.css);

/**
 * @name Indicord
 * @version 1.0.0
 * @description Indicord
 */





 :root {
  /* Variables */
  --background-primary: #370b75;
  --indi-spotify: #1db954;
  --qf-indi: rgb(35, 5, 69, 0);
  --background-secondary-alt: #210045;
  --background-floating:  #210045;
  --background-secondary: #200045;
  --background-tertiary: #170036;
  --activity-card-background: var(--background-tertiary);
  --channeltextarea-background: #552e8c;
  --background-message-hover: rgb(35, 5, 69, 0.4);
  --interactive-active: #c0a3ff !important;
  --background-mentioned: rgb(85, 46, 140, 0.7);
  --background-mentioned-hover: rgb(61, 34, 99);
  --background-modifier-selected: var(--background-secondary-alt);

  --indicord-spoiler-color: rgb(43, 27, 97);

  --scrollbar-thin-thumb: var(--background-secondary);
  --scrollbar-thin-track: var(--background-tertiary);
  --scrollbar-auto-thumb: #8334eb;
  --scrollbar-auto-track: var(--background-tertiary);
  --scrollbar-auto-scrollbar-color-thumb: var(--background-secondary);
  --scrollbar-auto-scrollbar-color-track: var(--background-tertiary);
}





/* Mention / Autofill background */
.autocomplete-3NRXG8 {
  background-color: var(--background-tertiary) !important;
}

/* Footers */
.footer-31IekZ {
  background-color: var(--background-secondary) !important;
}

/* Nitro card content */
.content-2hZxGK {
  background-color: var(--background-secondary) !important;
}

.theme-dark
.tab-2j5AEF.selected-2LAck8 {
  background-color: var(--background-primary) !important;
}

.topSectionSpotify-1lI0-P + .body-3ND3kc, .headerSpotify-zpWxgT > .activityUserPopout-2MzGCj {
  background-color: var(--indi-spotify) !important;
}


.unread-2wipsx {
	background-color: var(--background-primary) !important;
}

.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
	background-color: var(--background-primary) !important;
}

.theme-dark .perksModal-fSYqOq {
  background-color:#511eaf !important;
}

.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
  background-color: #5023a8 !important;
}

.topSectionSpotify-1lI0-P + .body-3ND3kc, .headerSpotify-zpWxgT > .activityUserPopout-2MzGCj {
    background-color: var(--background-secondary) !important;
}

.activity-11LB_k {
    background-color: var(--activity-background) !important;
}

.selected-1-Z6gm .layout-1qmrhw {
  background-color: var(--background-primary) !important
}

.button-12Fmur.enabled-9OeuTA:hover {
  background-color: var(--background-primary) !important
}

.unread-36eUEm {
  background-color: var(--interactive-active) !important
}

.root-g14mjS {
    background-color: var(--qf-indi) !important;
}

.container-2nx-BQ:not([style*="125"]) {
	background-color: #9760e2 !important;
}

/* User card */
.footer-1fjuF6, .body-3iLsc4 {
  background-color: var(--background-secondary) !important;
}

.headerTop-3C2Zn0 {
  background-color: var(--background-tertiary) !important;
}


.autocompleteScroller-3L6kmy {
  background-color: var(--background-secondary-alt) !important;
}

.header-3i_Csh {
  background-color: var(--background-secondary) !important;
}

.activity-1ythUs {
  background-color: var(--indi-spotify) !important;
}

/* Mention Autocomplete */ 
.selected-3H3-RC {
  background-color: var(--background-primary) !important;
}

/* Server Discovery Page */
.pageWrapper-2PwDoS {
  background-color: var(--background-secondary-alt) !important;
}

/* Server welcome page */
.main-jX9p1r {
  background-color: var(--background-secondary-alt) !important;
}



/* Manage Member Card */
.card-2ART2V:before {
  background-color: var(--background-secondary-alt) !important;
}

/* Create Channel Modal */
.modal-2RrUKJ {
  background-color: var(--background-secondary-alt) !important;
}

/* Search bar */
.searchFilter-2UfsDk,
.searchAnswer-23w-CH {
    background-color: var(--background-secondary-alt) !important;
}

#search-results {
    background-color: var(--background-secondary) !important;
    box-shadow: 0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

#search-results > .focused-2FU0YH {
    background-color: var(--background-secondary) !important;
}

.option-2KkUJO.selected-rZcOL- {
    background-color: var(--background-modifier-hover) !important;

}

.option-2KkUJO::after {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 90%) !important
}


.react-datepicker,
.react-datepicker__header {
    background-color: var(--background-secondary) !important;
}

.react-datepicker__day:not(:hover):not(.react-datepicker__day--disabled):not(.react-datepicker__day--outside-month) {
    background-color: var(--background-secondary-alt) !important;
}

.react-datepicker__day {
    border-color: var(--background-tertiary) !important;
}

.react-datepicker__day--disabled,
.react-datepicker__day--outside-month {
    background-color: var(--background-primary) !important;
}

.quickswitcher-pKcM9U {
    box-shadow: 0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.quickswitcher-pKcM9U > .input-3r5zZY {
  background-color: var(--channeltextarea-background)
}

/* Settings */
.selected-18Wszc {
  background-color: var(--indicord-spoiler-color) !important;
  border-color: var(--indicord-spoiler-color) !important;
}

.wrapper-SdcMKg {
  border-color: var(--indicord-spoiler-color) !important;
}

.barFill-2Bh7CX {
  background-color: var(--indicord-spoiler-color) !important;
}



.userInfoViewing-3djV5v {
  background-color: var(--background-secondary) !important;
}

.popoutList-10IFAa, .countryButton-1cNDvB {
  background-color: var(--background-secondary) !important;
}

.formNotice-2nS8ey {
  background-color: var(--background-secondary) !important;
}

.authedApp-1tw-eT {
  background-color: var(--background-secondary) !important;
}

.paymentPane-ut5qKZ, .codeRedemptionRedirect-3SBiCp {
  background-color: var(--background-secondary) !important;
}

.summaryInfo-3hcuop, .pageActions-1crTQL {
  background-color: var(--background-secondary) !important;
}

.attendeeCTA-1R6USz {
  background-color: var(--background-secondary) !important;
}

.notDetected-2HEmAp, .addGamePopout-3yePJc, .css-3vaxre-menu {
  background-color: var(--background-secondary) !important;
}

.powercord-account {
  background-color: var(--background-secondary) !important;
}

.powercord-product {
  background-color: var(--background-secondary) !important;
}

.cardPrimary-3qRT__ {
  background-color: var(--background-secondary) !important;
}

.item-2idW98 {
  background-color: var(--background-secondary) !important;
  border-color: var(--background-tertiary) !important;
}

/* Upload File */
.uploadModal-2ie9O_, .footer-VCsJQY {
  background-color: var(--background-tertiary) !important;
}

/* Spoiler */
.spoilerText-27bIiA {
  background-color: var(--indicord-spoiler-color) !important;
}

/* Friends List */
.peopleColumn-1wMU14 {
  background-color: var(--background-primary) !important;
}

/* Color Picker */
.colorPickerCustom-1swUKF {
  background-color: var(--background-secondary) !important;
}

/* Playing Activity */
.activity-11LB_k {
  background-color: var(--background-secondary) !important;
}

.topSectionPlaying-1J5E4n {
  background-color: var(--background-secondary) !important;
}

.header-QKLPzZ, .activity-1ythUs {
  background-color: var(--background-tertiary) !important;
}

/* Side piece of mention */
.mentioned-Tre-dv::before {
  background-color: var(--background-tertiary) !important;
}

/* Unread Message Bar */
.unreadBar-3YD_k9 {
  background-color: var(--background-primary) !important;
}

/* Quote Bar */ 
.blockquoteDivider-363utW {
  background-color: var(--background-tertiary) !important;
}

/* Back to present */
.jumpToPresentBar-1cEnH0 {
  background-color: var(--background-secondary-alt) !important;
}

/* Gif/Sticker/Emoji Button */ 
.navButton-1XuvI- {
  background-color: var(--background-secondary-alt) !important;
}

/* Careful! Unsaved Changes */ 
.container-20TyK0 {
  background-color: var(--background-secondary-alt) !important;
}

/* Activity card on home page */
.section-3G9aLW {
  background-color: var(--background-secondary-alt) !important;
}

/* Home button */
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
  background-color: var(--background-secondary);
}

/* Hover of most */
.clickable-28SzVr.container-1oeRFJ:active, .highlighted-3PcOfB.container-1oeRFJ, .selected-1-Z6gm.container-1oeRFJ {
  background-color: var(--background-secondary);
}

/* Channel mention for others */
.wrapper-1ZcZW-:hover {
  background-color: var(--background-secondary-alt) !important;
  color: #7289da !important;
}

/* Delete message modal */
.message-G6O-Wv {
  background-color: var(--channeltextarea-background) !important;
}

/* Item Hovers */
.content-3at_AU:focus, .layout-1qmrhw:focus, .categoryItem-3zFJns:focus, .container-1oeRFJ:focus {
  background-color: var(--channeltextarea-background) !important;
}

/* Toolbar when hovering over highlighted message */
.toolbar-37BrJ5 {
  background-color: var(--background-secondary-alt) !important;
}

/* Tooltips */
.tooltip-14MtrL {
  background-color: var(--background-tertiary) !important;
  backdrop-filter: blur(1.5px);
  text-shadow: #000 1px 0 5px;
}

.tooltipPointer-3L49xb {
  border-top-color: var(--background-tertiary) !important;
}

.tooltipContent-Nejnvh > .colorMuted-20987_ {
  color: #F04747;
}

.tooltipContent-Nejnvh > .row-2OVM4t > svg > path {
  fill: #43B581;
}

/* Video Preview Box */
.previewOverlayInner-1WXURq {
  background-color: var(--background-secondary-alt) !important;
}

/* Switch Toggles */
.container-2nx-BQ:not([style*="125"]){
  background-color: var(--background-tertiary) !important;
}

.container-2nx-BQ {
  background-color: var(--background-secondary) !important;
}

/* Checkbox */
.checked-1pZh2h {
  background-color: var(--background-secondary) !important;
}

/* Blurple Button */
.lookFilled-yCfaCM.colorBrand-I6CyqQ {
  background-color: var(--indicord-spoiler-color) !important;
}

/* Input selected */
.cardPrimaryEditable-2mz_3i {
  background-color: var(--indicord-spoiler-color) !important;
  border-color: var(--indicord-spoiler-color) !important;
}

/* Watermark */
.wordmark-2u86JB:after {
    content: "Indicord";
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    font-family: "Discord";
}

.wordmark-2u86JB svg {
  display: none;
}

.wordmark-2u86JB {
    max-width: 90vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.root-g14mjS {
  background-color: #370b75 !important;
}

.content-2hZxGK {
  background-color: #370b75 !important;
}

.footer-31IekZ {
  background-color: #370b75 !important;
}

.container-x8Y1ix {
  background-color: #210045 !important;
}

.colorGrey-2iAG-B {
  background-color: #170036 !important;
}
